.card {
  width: 330px;
  min-height: 550px;
  border: 8px solid #fff;
  border-radius: 4px;
  background-color: black;
  padding: 46px; }
  .card:first-child {
    margin-right: 10%; }
  .card h1, .card p {
    text-align: center; }
  .card ul {
    padding: 0;
    margin-top: 64px; }
    .card ul li {
      padding: 16px;
      background-color: #fff;
      color: black;
      list-style-type: none;
      margin-bottom: 32px;
      transition: transform 0.3s ease-in;
      position: relative; }
      .card ul li::after {
        box-shadow: -8px 8px 0px 0px rgba(255, 255, 255, 0.5);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      .card ul li.active, .card ul li:hover {
        transform: translate(8px, -8px); }
        .card ul li.active::after, .card ul li:hover::after {
          opacity: 1; }
  .card.computer-card {
    border-color: #00e7ff;
    background-color: transparent;
    background-image: url("../../assets/logo-b.png");
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat; }
    .card.computer-card h1, .card.computer-card p, .card.computer-card ul {
      opacity: 0;
      transition: opacity 0.5s ease-in-out; }
    .card.computer-card.active {
      background-color: black;
      background-image: none; }
      .card.computer-card.active h1, .card.computer-card.active p, .card.computer-card.active ul {
        opacity: 1; }
