@import '../../style/vars';
@import '../../style/mixins';

.card {
    width: 330px;
    min-height: 550px;
    border: 8px solid $white;
    border-radius: 4px;
    background-color: black;
    padding: 46px;

    &:first-child {
        margin-right: 10%;
    }

    h1, p {
        text-align: center;
    }

    ul {
        padding: 0;
        margin-top: 64px;

        li {
            padding: 16px;
            background-color: $white;
            color: black;
            list-style-type: none;
            margin-bottom: 32px;
            transition: transform 0.3s ease-in;
            position: relative;

            &::after {
                box-shadow: -8px 8px 0px 0px  rgba(255, 255, 255, 0.5);
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
                content: '';
                display: block;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &.active, &:hover {
                transform: translate(8px, -8px);
                
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    // computer card
    &.computer-card {
        border-color: $blue;
        background-color: transparent;
        background-image: url('../../assets/logo-b.png');
        @include bgImgCenterHalf;

        h1, p, ul {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

        &.active {
            background-color: black;
            background-image: none;

            h1, p, ul {
                opacity: 1;
            }
        }
    }
}