@mixin bgImgCenter {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin bgImgBottom {
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin bgImgCenterHalf {
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}