@import url("https://fonts.googleapis.com/css?family=Codystar|Noto+Sans:400,700");
p {
  font-size: 16px;
  margin: 0 0 10px; }

h1, h2, h3 {
  font-family: 'Codystar', cursive;
  font-weight: 400;
  font-size: 62px;
  margin: 0; }

h2, h3 {
  font-size: 46px; }

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.App {
  background-image: url("../assets/bg-01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  height: 100%; }
