.scoreboard {
  height: 80%;
  width: 100%;
  pointer-events: none;
  position: fixed; }
  .scoreboard .title-box {
    padding: 60px 0;
    width: 100%;
    position: relative;
    z-index: 1;
    background-image: url("../../assets/hud-01.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat; }
    .scoreboard .title-box h1 {
      color: #00e7ff;
      text-align: center; }
  .scoreboard .score p {
    font-size: 32px; }
  .scoreboard .user, .scoreboard .comp {
    background-color: #08ff31;
    color: black;
    margin: 0 60px;
    padding: 200px 12px 32px;
    text-align: center;
    overflow: hidden;
    width: 55px;
    height: 30%;
    transition: height 0.3s;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0px; }
    .scoreboard .user h3, .scoreboard .comp h3 {
      writing-mode: vertical-lr;
      text-orientation: upright;
      position: absolute; }
    .scoreboard .user .score, .scoreboard .comp .score {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0; }
      .scoreboard .user .score p, .scoreboard .comp .score p {
        margin-top: 32px;
        font-size: 32px;
        font-weight: 700;
        text-align: center; }
  .scoreboard .comp {
    background-color: #ff105a;
    left: initial;
    right: 0; }
